@{
    Layout = "_Layout";
    ViewData["Title"] = "TripPlanner";
}
@using System.Security.Claims;

@if (User.Identity.IsAuthenticated) 
{
    <div class="text-left" id="landingTitle">
        <h1 class="display-4">Welcome back, @User.Identity.Name </h1>
        <h4>Ready to get back to it?</h4>
        <a href="/UserProfiles/Index/@ViewBag.ApplicationUserId"><button class="btn btn-outline-dark button-styling-solid" id="button-started" type="submit">GO HOME</button></a>
    <br>
    <p>@Html.ActionLink("LogOff", "LogOff", "Account")</p>
    </div>
}
else
{
    <div class="text-left" id="landingTitle">
        <h1 class="display-4">TripPlanner</h1>
        <h4>Plan your trip ahead and enjoy your holidays....</h4>
        <a href="/Account/Register"><button class="btn btn-outline-dark button-styling-solid" id="button-started" type="submit" >GET STARTED</button></a>
    </div>
}




