@{
    Layout = "_Layout";
}
@model TripPlanner.Models.UserProfile;
<div class="bg-image"></div>
<h1>Add a New Trip</h1>
<hr>
@using (Html.BeginForm())
{
   <input name="UserProfileId" type="hidden" value="@ViewBag.UserProfileId">
    <input name="ApplicationUserId" type="hidden" value="@ViewBag.ApplicationUserId">
    
    <div class="form-group">
        <label for="TripName">Trip Name</label>
        <input name="TripName" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="TripLocation">Trip Location</label>
        <input name="TripLocation" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="TripStartDate">Trip Starting Date</label>
        <input name="TripStartDate" type="date" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="TripEndDate">Trip Last Date</label>
        <input name="TripEndDate" type="date" class="form-control" required>
    </div>

    <input type="submit" value="Add Trip" class="btn btn-primary"/><br><br>
}

@Html.ActionLink("Cancel", "Index", "UserProfiles", new { id = @ViewBag.ApplicationUserId})

