<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Plan the trip</title>
  </head>
  <body>
    <h1>Trip Planner</h1>
    <br>
    <form action="/trips" method="post">
      <label for="tripName">Add a new trip</label>
      <input id="tripName" name="tripName" type="text">
      <br>
      <hr/>
      <label for="startDate">Add the Start Date</label>
      <input id="startDate" name="startDate" type="text">
       <br>
      <hr/>
      <label for="endDate">Add the end Date</label>
      <input id="endDate" name="endDate" type="text">
       <br>
      <hr/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>