<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Plan the trip</title>
  </head>
  <body>
    <h1>Trip Planner</h1>
    <form action="/trips" method="post">
      <label for="userName"> Username</label>
      <input id="userName" name="userName" type="text">
      <label for="tripName">Add a new trip</label>
      <input id="tripName" name="tripName" type="text">
      <label for="tripDate">Add the tripDate</label>
      <input id="tripDate" name="tripDate" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>